@charset "utf-8";
/*首页特效*/
.silder {width: 100%;height:441px; overflow: hidden;text-align: center;margin: 0 auto;position:relative;float:left;}
.silder .silder_list {height:441px; overflow:hidden;position: relative;}
.silder .silder_list li {float:left; width:785px; height:881px; padding:0px;}
.silder .silder_list a{position:absolute; top:0;left:0;}
.silder .silder_list a,.silder .silder_list img{display:inline-block;float:left; width:785px; height:881px;}
.silder .silder_page{height:17px;text-align:right; margin:0 auto;right:1px; overflow:hidden;position:absolute; bottom:1px; width:330px; padding-top: 13px;}
.silder .silder_page li{ float: left;
            width: 6px;
            height: 6px;
            background: #CCCCCC;
            opacity: 0.6;
            border-radius: 6px;
            margin-left: 10px;
            cursor: pointer;
			font-size: 0;
			padding:0px;
}
.silder .silder_page li.current{
			background: #eb6100;
            opacity: 1;
            transform: scale(1.5);
			font-size: 0;
}
.silder_desc{color:#fff;background:url(../images/tit_bg.png) repeat 0 0;float:left;line-height:30px;height:30px;width:100%;overflow:hidden;position:absolute;left:0;bottom:0;text-align:left;text-indent:10px;}
.silder .silder_page li:hover{cursor:pointer;}
